<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--     <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=yes">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

	<title>华中师范大学农情数据采集系统</title>
	<!--引入高德地图JSAPI -->
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.11&key=1d563ca8317474c89ff2f0057ee54b31"></script>
	<!--引入UI组件库（1.0版本） -->
	<script src="http://webapi.amap.com/ui/1.0/main.js"></script>
	<script type="text/javascript" src="http://webapi.amap.com/demos/js/liteToolbar.js"></script>
	<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
	<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />

<!-- bootstrap引用 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<style type="text/css">
		#container{}
	</style>

</head>

<body>
	<div>
		<div class="col-xs-9" id="container-left" style="padding: 0;">
			<div id="container">
			</div>
		</div>
		
		<div class="col-xs-3" id="container-right" style="position: relative; padding-left: 15px;background: #F0F8FF;">
			
			<div>
				<h5>添加、删除图层（Layer）</h5>
				<label><span>卫星图层：</span></label>
				<button class="btn" id="add-satellite-layer">添加</button>
				<button class="btn" id="remove-satellite-layer">删除</button>
			</div>
	
				
			<div>
				<!-- boostrap表单 -->
				<form name="landForm" onsubmit="return CheckForm();" class="form-horizontal" role="form"
					method="post" action="" th:action="@{~/submit}" AUTOCOMPLETE="OFF" onkeydown="if(event.keyCode==13){return false;}">
				
					<hr />
					
					<div class="form-group"> 
						<label for="jingdu" class="col-xs-1 control-label" style="width:auto">经度:<span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="jingdu" style="width:70px" name="lon" required="required">
					</div>
					
					<div class="form-group">
						<label for="weidu" class="col-xs-2 control-label" style="width:auto">纬度:<span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="weidu" style="width:70px" name="lat" required="required">
					</div>
					
					<div class="form-group form-inline" style="padding-left: 15px;">
						<input for="address1" name="resourceAddress" id="address" class="form-control" style="width:70px; font-size:5px;">
						<button id="address" type="button" class="btn" onclick="markLocation()">搜索地址</button>
					</div>
					
					<div class="form-group">
						<label for="diwuleibie" class="col-xs-2 control-label" style="width:auto">地类:<span class="text-danger">*</span></label>
						<label><select class="form-control" name="landClass" id="landClass" required="required">
							<option value="" style="display: none"></option>
							<option value="小麦">1.小麦</option>
							<option value="单季稻">2.单季稻</option>
							<option value="双季稻">3.双季稻</option>
							<option value="虾稻田">4.虾稻田</option>
							<option value="大棚">5.大棚</option>
							<option value="其他">6.其他</option>
						</select></label>
					</div>
					
					<div class="form-group">
						<label class="col-xs-12 control-label" style="width:auto">图片:</label>
						<input style="font-size: 5px;" type="file" name="landPic" id="landPic" accept="image/*"/>
					</div>
					
					<div class="form-group">
						<label for="jianyi" class="col-xs-1 control-label" style="width:auto">备注:</label>
						<textarea class="form-control" rows="2" name="landRemarks" style="width:70px; font-size: 5px;" placeholder="若选择其他地物类别,请在此备注哦~"></textarea>
					</div>
					
					<label class="col-xs-6 control-label"><button type="submit" class="btn btn-success submit">提交</button></label>
				</form>
			</div>
			
			<div id="ft" style="text-align: center;font-size: 10px;padding-top:80px ;">
				
				<hr />
				<a href="#">&copy; 2019 华中师范大学农业遥感团队</a><br />
				<a href="http://ccnucity.ccnu.edu.cn/info/1051/7175.htm" target="_blank">
					<i class="fa fa-envelope-o"></i>联系我们</a>
			</div>
			
		</div>
	</div>
	
<script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>

<script>
			// 设置div的高度自动跟随浏览器大小而改变
			
	function reHeightDiv(){
		var colHeight = document.documentElement.clientHeight;
		document.getElementById("container-left").style.height=colHeight+"px";
		document.getElementById("container-right").style.height=colHeight+"px";
	}
	window.onresize = reHeightDiv();
</script>



<script>
var map,addMarker;
var geocoder;
var placeSearch;
var lnglatXY;
$(function(){
   // 加入高德地图
   map = new AMap.Map('container', {
          resizeEnable: true,
		  // layers: [new AMap.TileLayer.Satellite(),
				// 	new AMap.TileLayer.RoadNet()],
          zoom:15
          /*center: [116.397428, 39.90923] */
    });


	//构造官方卫星,路网图层
	var satelliteLayer = new AMap.TileLayer.Satellite();

	//批量添加图层
	map.add([satelliteLayer]);
	
	

	//事件绑定
	document.querySelector("#add-satellite-layer").onclick = function() {
	  map.add(satelliteLayer);
	}

	document.querySelector("#remove-satellite-layer").onclick = function() {
	  map.remove(satelliteLayer);
	}
	
	// 比例尺
    AMap.plugin(['AMap.ToolBar','AMap.Scale'],		
        function(){
            map.addControl(new AMap.ToolBar());

            map.addControl(new AMap.Scale());
    });

    AMap.service('AMap.Geocoder',function(){//回调函数
        //实例化Geocoder
        geocoder = new AMap.Geocoder({
            city: "重庆",//城市，默认：“全国”
            adius : 1000
        });
        //TODO: 使用geocoder 对象完成相关功能
    });
    // 加载搜索列表
    myMapViewLocation();
    AMap.service(["AMap.PlaceSearch"], function() {
            placeSearch = new AMap.PlaceSearch({ //构造地点查询类
            pageSize: 5,
            pageIndex: 1,
            city: "重庆", //城市
            map: map,
            panel: "panel"
        });
    });
    //为地图注册click事件获取鼠标点击出的经纬度坐标
    var clickEventListener = map.on('click', function(e) {
        $("input[name=lon]").val(e.lnglat.lng);
        $("input[name=lat]").val(e.lnglat.lat);
        // 填写地址
        writeAddress([e.lnglat.lng,e.lnglat.lat]);
        mapsearch();
    });
    //placeSearch.search("北京");
    $("#address").on("keydown",function(event){
        if(event = event || window.event){
            if(event.keyCode==13){
                markLocation();
            }
        }
    });
});

//地图搜索
function mapsearch(){
    var mlon = $("input[name=lon]").val();
    var mlat = $("input[name=lat]").val();
    myMapViewLocation(mlon, mlat);
}

// 回显
function myMapViewLocation(mlon, mlat){
    //console.log("回显坐标");
    if(mlon&&mlat){
        //removeMarkers(lnglatXY);
        lnglatXY = [mlon,mlat];
        addMarker(lnglatXY);
    }
}

//移除之前的标点
function removeMarkers(lnglatXY){
     marker = new AMap.Marker({
        map: map,
        position: lnglatXY,
        icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
        offset: new AMap.Pixel(-13, -30)
    });
    var markers = [];
    markers.push(marker);
    map.remove(markers);
}

var t=1;
// 实例化点标记
function addMarker(lnglatXY) {
    if(t == 1) {
        console.log(lnglatXY);
        marker = new AMap.Marker({
            icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
            position: lnglatXY,
            offset: new AMap.Pixel(-13, -30),
            // 设置是否可以拖拽
            draggable: true,
            cursor: 'move',
            // 设置拖拽效果
            raiseOnDrag: true
        });
        marker.setMap(map);
        map.setFitView();// 执行定位
        t++;
    }
    
    //修改标点位置
    if(t != 1){
        marker.setPosition(lnglatXY);
        map.setCenter(lnglatXY);
        marker.setMap(map);
        map.setFitView();// 执行定位
    }
    
}

// 填写地址
function writeAddress(lnglatXY){
    var geocoder = new AMap.Geocoder({
        city : "重庆", //城市，默认：“全国”
        radius : 1000 //范围，默认：500
    });
    geocoder.getAddress(lnglatXY, function(status, result) {
        if (status === 'complete' && result.info === 'OK') {
            geocoder_CallBack(result);
        }
    });
}

// 地址回调
function geocoder_CallBack(data) {
    var address = data.regeocode.formattedAddress; //返回地址描述
    $("input[name=resourceAddress]").val(address);
}

//根据地址搜索
function markLocation() {
    var address = $("#address").val();
    AMap.plugin('AMap.Geocoder', function() {
        var geocoder = new AMap.Geocoder();            
        geocoder.getLocation(address, function(status, result) {
            if (status === 'complete' && result.info === 'OK') {

                // 经纬度                      
                var lon = result.geocodes[0].location.lng;
                var lat = result.geocodes[0].location.lat;
                
                $("input[name=lon]").val(lon);
                $("input[name=lat]").val(lat);
                
                lnglatXY = [lon, lat];
                addMarker(lnglatXY);
            } else {
                console.log('定位失败！');
            }
        });
    });
}

// 设置enter自动提交表单
function gosearch() { 
	if(window.event.keyCode == 13) 
	{search(); 
	return false;}} 

// 设置提交确认
function CheckForm(){
	var lon = landForm.lon.value;
	var lat = landForm.lat.value;
	var resourceAddress = landForm.resourceAddress.value;
	var landClass =landForm.landClass.value;
	var landPic = landForm.landPic.value;
	var alertInfo = "您好，感谢您的大力支持！在提交之前，请再次确认信息是否正确。" + "\r经度:" + lon + 
					"\r纬度:" + lat + "\r详细地址:" + resourceAddress + "\r地物类别:" + landClass + "\r图片名称:" + landPic;
	// alert(alertInfo);	//不用alert 用confirm 
	
	var gnl = confirm(
	"您好，感谢您的大力支持！在提交之前，请再次确认信息是否正确。" + "\r经度:" + lon + "\r纬度:" + lat + "\r详细地址:" + resourceAddress + "\r地物类别:" + landClass + "\r图片名称:" + landPic + "\r\r\r请确认是否提交？")
	if (gnl==true){
	return true;
	}else{
	return false;
	}
}
// 第二种提交确认方式(用document.getElementById)
// function CheckForm(){
// 	var lon = document.getElementById('jingdu').value;
// 	var lat = document.getElementById('weidu').value;
// 	var resourceAddress = document.getElementById('address').value;
// 	var landClass = document.getElementById('landClass').value;
// 	var landPic = document.getElementById('landPic').value;
// 	var alertInfo = "您好，感谢您的大力支持！在提交之前，请再次确认信息是否正确。" + "\r经度:" + lon + 
//  					"\r纬度:" + lat + "\r详细地址:" + resourceAddress + "\r地物类别:" + landClass + "\r图片名称:" + landPic;
// 	alert(alertInfo);
// }

</script>



</body>
</html>